$main-color: #4cd137;
$heading-color: #103f09;
$bColor: #333333;
$white: #ffffff;
$black: #000000;
$bgOne: #fafafa;
$bgTwo: #f7f7f7;
$border-color: #dadada;

// Body;
$bodyFont: "Open Sans", sans-serif;
$titleFont: "Poppins", sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all 0.4s linear;
